<script src="assets/js/main.min.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    var descriptionDiv = document.getElementById("description");
    if (descriptionDiv) {
        var descriptionText = descriptionDiv.innerText || descriptionDiv.textContent;
        var chineseRegex = /[\u4e00-\u9fa5]/;

        // 清空 descriptionDiv 内容
        descriptionDiv.innerHTML = '';

        // 遍历每个字符并应用不同的样式
        for (var i = 0; i < descriptionText.length; i++) {
            var char = descriptionText[i];
            var span = document.createElement('span');
            span.textContent = char;

            if (chineseRegex.test(char)) {
                span.style.setProperty('font-family', 'STZhongsong, serif', 'important'); // 中文字符使用华文中宋字体
                span.style.setProperty('font-style', 'normal', 'important'); // 移除斜体
            }

            descriptionDiv.appendChild(span);
        }
    }
});

</script>

{% include analytics.html %}
{% include fetch_google_scholar_stats.html %}
